:host {
  border: 2px solid darkblue;
  margin: 2rem;
  padding: 1rem;
  display: block;
  width: 20rem;
  max-width: 100%;
}

.city {
  border: 2px solid darkblue;
  cursor: pointer;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.city:hover {
  color: white;
  background-color: darkblue;
}
